
.faq .container{
			width:80%;
			position:relative;
			margin:auto;
		}
	.h3-style{
			background:#E6E6E6;
			padding:10px;
			cursor:pointer;
			box-shadow:3px 3px 3px 1px grey;
			position: relative;
			transition: all 130ms ease-in-out;
			-webkit-transition: all 130ms ease-in-out;
			-moz-transition: all 130ms ease-in-out;
			-o-transition: all 130ms ease-in-out;
			
		}

		.h3-style:active{
			transform: translate(0px,3px);
			box-shadow: 0 0 0 0;
		}

		.faq p{
			font-size:20px;
		}