
.faq .container{
			width:80%;
			position:relative;
			margin:auto;
		}
		.faq .h3-style{
			background:#E6E6E6;
			padding:10px;
			cursor:pointer;
			box-shadow:3px 3px 3px 1px grey;
			position: relative;
			bottom:3px;
			transition: top 2s ease;
			-webkit-transition: top 2s ease;
			-moz-transition: top 2s ease;
			-o-transition: top 2s ease;
		}
		.faq .h3-style:active{
			box-shadow: 0 0 0 0;
			top:3px;
			/*transition: ease 2s ;*/
		}

		#accordion h3{
			/*cursor:pointer;*/
		}