@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Paprika|Quando');

/*general settings*/
:root{
  --footer-bg1:#808080;
  --footer-bg2:#4d4d4d;
  --footer-bg3:#333;
  --green-bg:#419195;
  --font1:"Bubblegum Sans";
  --font2:Paprika;
  --font3:Quando;
}

*{
  padding:0;
  margin:0;
  font-family:var(--font2);
}


main, footer, header{
  display:flex;
  flex-direction:column;
  align-items:center;
  align-content:center;
}

main{
  min-height:500px;
}

body{
	font-family:var(--font3);
}

.container{
  width:80%;
}

header, main, footer{
  width:100%;
}

/*header */
header:nth-child(1){
  background:url();
}

header:nth-child(2){
  margin-bottom: 110px  
}



.header-wrapper{
  width:100%;
  background:var(--footer-bg3);
  display:flex;
  justify-content:  center;

}  

.header-wrapper:nth-child(2){
  background:white;
  margin-bottom:15px;
}

#top-header{
  height:100px;
  background:inherit;
  display:flex;
}

#banner{
  width:50%;
}

.contact-info{
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:  center;
  align-items:   center;
}

.contact-info span{
  text-align: center;
  color:white;
}

#navigation, #navigation ul, #navigation .social-media{
  display:flex;
  list-style-type:none;
  justify-content:space-between;
}


.pure-menu.pure-menu-horizontal {
  display: flex;
  justify-content: center;
  font-size:1.5rem;
  margin:5px 0;
}

.pure-menu-item{
  cursor:pointer;
}


.pure-menu-item::before, .pure-menu-item::after{
  content:"";
  width:100%;
  transform:scale(0);
  height:3px;
  position:absolute;
  transition:transform 150ms linear;
  background:var(--green-bg);
}

.pure-menu-item::before{
  top:0;
}

.pure-menu-item::after{
  bottom:0;
}

.pure-menu-item:hover::after, .pure-menu-item:hover::before{
  transform:scale(1);
}

.pure-menu-has-children>.pure-menu-link:after {
    content: "\25BE";
    font-size: 2rem;
}

#nav-cart{
  position:absolute;
  right:0;
}

#nav-cart-count {
    position: absolute;
    bottom: 21px;
    right: 18px;
}

.pure-menu-horizontal .cart {
    background-image: url('../../images/Icons/cart.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    padding-top: 0px;
    border: 1px solid white;
    display:flex;
    justify-content:  center;
}


/*Slider*/
#slider{
  height:200px;
}


.slide-viewer{
  height:220px;
}


/*main*/

main{
  padding:70px 0;
}

main section {
  margin-bottom:70px;
}

/*repair process*/
main #repair-process{
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
}

main .repair-process-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:33%;
  padding:10px;
}


.repair-process-item p, .repair-process-item h3 {
  font-family: var(--font3); 
}


main .repair-process-item .ui.icon{
  font-size:30px;
}

/*advert*/
#advert-container{
  display:flex;
  justify-content:center;
}

#advert{
  display:grid;
  grid-auto-flow:dense row;
  justify-content: space-around;
  grid-gap:20px;
  align-items:center;
  height:450px;
  /*background:#3a8285;*/
  background:#419195bf;
  grid-template-rows:repeat(2, 1fr);
  grid-template-columns:repeat(2, 1fr);
  align-items:center;
  align-self:center;
  padding:20px;
  border-radius:5px;
  /*color:;*/
}


.ui.card {
  height: 195px;
  margin: 0;
}

a.pure-button.button-bottom,.pure-button.button-bottom{
  width: 49%;
  color:grey;
}

/*footer*/
#back-to-top{
  width:100%;
  padding:10px 0;
  text-align:center;
  font-weight:bold;
  background: var(--footer-bg3);

}

#back-to-top:hover{
  background:  var(--footer-bg1);
  color:white;
}


footer{
  background:var(--footer-bg2);
  color:white;
}

footer #main-block{
  height:200px;
  background:inherit;
  display:flex;
  justify-content:  space-between;
  align-items:  center;

}

#footer-container{}

#mission, #footer-links, #opening-hours{
  display:flex;
  justify-content:  space-around;  
}

#mission{
  width:25%;
}

#opening-hours{
  width:25%;
  flex-direction:column;
}

#footer-links{
  width:50%;  

}

#footer-links li{
  list-style-type:none;
}

footer a{
  color:white;
}

#footer-links a:hover{
  color:white;
  text-decoration:  underline;  
}

#bottom-block a:hover{
  color:white;
  text-decoration:  underline; 
}

#bottom-block{
  width:100%;
  background:var(--footer-bg3);
  display:flex;
  justify-content:  center;
}

#bottom-block .copywright{
  width:80%;
  background:inherit;
  display:flex;
  justify-content:space-around;
  padding:10px 0;
  text-align:center;
}

#bottom-block .container {
  display: flex;
  justify-content: center;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../../images/gif/Preloader_3.gif) center no-repeat #fff;
}