.repair-wrapper {
    text-align: center;
}

.wrapper h1 {
	margin-bottom:20px;
}

.repair-container{
	position: relative;
    width:80%;
	margin:auto;
    margin-bottom:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.repair-wrapper p{
    font-size:2rem;
}

.repair-wrapper li{
    list-style-type:none;
}


.ui.large.form {
    font-size: 1.14285714rem;
    width: 70%;
}